body {background-color:rgb(0, 0, 0);}
h1 {color: rgb(209, 3, 3);
text-align: center;}
h2 {color:rgb(209, 3, 3);
text-align: center;}
div {color:rgb(209, 3, 3)}
.align-text {color:rgb(209, 3, 3);
text-align: center;}
a {color:rgb(209, 3, 3)}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}